@import '../styles/variables';

nav {

  ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
    background-color: $navbar-background;
  }

  li {
    float: left;
      a{
        display: block;
        color: $navbar-text;
        text-align: center;
        /*padding: 14px 16px;*/
        padding: 1em 10px 1em 10px;
        text-decoration: none;
        font-weight: bold;
      }
  }

  .user{
    float: right;
    font-weight: bold;
    margin-right: 1em;
    margin-top: 12.5px;
  }

  .button:hover {
      background-color: $navbar-button-hover;
  }

  .active {
      background-color: $active-game
  }

  /* Navigation Bar Button Colors */
  .games{
    background: $btn-warning;
  }

  .create{
    background: $btn-success;
  }

  .login{
    float: right;
    background: $btn-success;
  }

  .logout{
    cursor: pointer; cursor: hand;
    float: right;
    background: $btn-danger;
  }

}






