<nav>
    <ul>
        <!--<button></button>-->
        <li class="create button"><a routerLink="/games/new">Create a new game</a></li>
        <li class="games button"><a routerLink="/games">All games</a></li>
        <li *ngIf="!user" class="login button"><a [attr.href]="authUrl">Login</a></li>
        <li *ngIf="user" class="logout button" (click)="logout()"><a>Logout</a></li>
        <li *ngIf="user" class="user">{{user._id}}</li>
    </ul>
</nav>

<router-outlet class="transparentBackground"></router-outlet>
<app-toast  class="transparentBackground"></app-toast>
