$list-layer-color: (blue,green,yellow,darkorange,darkred);
$border-color : black;
$text-color : black;
$tile-width: 62px;
$tile-heigth: 82.5px;
$backgroundimage: url(../core/background2.jpg) no-repeat center center fixed; 