@import '../styles/variables';

.piece{
    position: absolute;
    width: $tile-width;
    height: $tile-heigth;
    border:1px solid $border-color;
    text-align: center;
    vertical-align: middle;
    color: $text-color;
    font-weight: bold;
    border-radius: 10px;
}

.layer0{
    background-color: green;
}
.layer1{
background-color: yellow;
}
.layer2{
 background-color: orange;
}
.layer3{
background-color: red;
}
.layer4{
background-color: darkred;
}