
<!--Loader-->
<div *ngIf="!game">
  <div id="loader" class="loader"></div>
</div>

<div class="container" *ngIf="game">
  <h2>{{game.gameTemplate._id}} details</h2>
  <div><label>Created By: </label>{{game.createdBy.name}}</div>
  <div><label>State: </label>{{game.state}}</div>
  <br />
  <div><label>Minimum players: </label>{{game.minPlayers}}</div>
  <div><label>Maximum players: </label>{{game.maxPlayers}}</div>
  <div><label>Current amount of players: </label>{{game.players.length}}</div>
  <br />
  <div><label>Created on: </label>{{game.createdOn.substring(0, 10)}}</div>
  <div *ngIf="game.startedOn != undefined"><label>Started on: </label>{{game.startedOn.substring(0, 10)}}</div>
  <div *ngIf="game.startedOn == undefined"><label>Started on: </label>Game did not start yet</div>
  <div *ngIf="game.endedOn != undefined"><label>Ended on: </label>{{game.endedOn}}</div>
  <div *ngIf="game.endedOn == undefined"><label>Ended on: </label>Game did not end yet</div>
  <br />

  <div><label>Players:</label>
  <ul class="players">
      <li *ngFor="let player of game.players">
        {{player.name}}
      </li>
  </ul>
  </div>
  <br />
  <div>
    <button  *ngIf="!isInGame && game.players.length < game.maxPlayers && game.state == 'open'" type="button" class="btn btn-success" (click)="joinGame()">Join</button>
    <button *ngIf="isAdmin && game.state == 'open' && game.players.length >= game.minPlayers" type="button" class="btn btn-success" (click)="startGame()">Start</button>
    <!--<button  *ngIf="isInGame && game.state == 'playing'" type="button" class="btn btn-success" (click)="playGame()">Play</button>-->
    <button *ngIf="isAdmin" type="button" class="btn btn-danger" (click)="deleteGame()">Delete</button>
  </div>
</div>

