<div class="scoreWrapper"> 
  <h1>Score</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-container">
        <table class="table table-filter">
          <tbody>
            <tr *ngFor="let player of players">
              <td>
                <div class="media">
                  <div class="media-body">
                    <h4 class="title">
                        {{player.displayName}}  -  {{player.score}}
                    </h4>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>