/* You can add global styles to this file, and also import other style files */
/* Master Styles */
@import './app/styles/variables';


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  margin-top: 7em;
  
}
body, input[text], button {

  color: #888;
  font-family: Cambria, Georgia;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/*Loader*/
.loader {
    border-top: 16px solid $loader-color1;
    border-right: 16px solid $loader-color2;
    border-bottom: 16px solid $loader-color3;
    border-left: 16px solid $loader-color4;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin .5s linear infinite;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    /*display: none;*/
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

