<h2>Games</h2>

<!--Game list-->
<!--<ul class="games">
  <li *ngFor="let game of games">
    <span class="badge">id: {{game.id}}</span> 
    <span class="badge">nr. of players: {{game.players.length}}/{{game.maxPlayers}}</span> 

  </li>
</ul>-->

<div class="grid grid-pad">
  <a *ngFor="let game of games" class="col-1-4">
    <div (click)="goToDetail(game)"  [class.open]="game.maxPlayers > game.players.length && game.state == 'open'" class="module">
      <h4>{{game.gameTemplate.id}} ({{game.state}})</h4>
      <h4>nr. of players: {{game.players.length}}/{{game.maxPlayers}}</h4>
    </div>
  </a>
</div>
