

<div *ngIf="filteredGames">
  <div>
  <select [(ngModel)]="selectedTemplate" (change)="filter()">
      <option *ngFor="let template of templates" [value]="template">{{template}}</option>
  </select>
  <select [(ngModel)]="selectedState" (change)="filter()">
      <option *ngFor="let state of states" [value]="state">{{state}}</option>
  </select>
  <input [(ngModel)]="showMyGamesOnly" (change)="filter()" type="checkbox" /> Only display my games
  </div>
</div>

<!--Loader-->
<div *ngIf="!filteredGames">
  <div id="loader" class="loader"></div>
</div>

<div class="grid grid-pad">
  <a *ngFor="let game of filteredGames" class="col-1-4">
    <div (click)="goToDetail(game)" class="module {{game.state}}">
      <h4>{{game.gameTemplate.id}} ({{game.state}})</h4>
      <h4>nr. of players: {{game.players.length}}/{{game.maxPlayers}}</h4>
      <h4>Created by: {{game.createdBy.name}}</h4>
    </div>
  </a>
</div>

